# Week 3 Assignment

## Question 1

Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:

![Dataframe](https://d3c33hcgiwev3.cloudfront.net/imageAssetProxy.v1/7JXaz3NNEeiMwApe4i-fLg_40e690ae0e927abda2d4bde7d94ed133_Screen-Shot-2018-06-18-at-7.17.57-PM.png?expiry=1592956800000&hmac=10J6tHsQXJGM0OmOoM8orf9HeXa-DbhCWftWGkjRvks)

To create the above dataframe:

- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [6]:
#import dependencies
import pandas as pd
import numpy as np
import lxml

In [21]:
list_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
tables = pd.read_html(list_url,header=0)

In [22]:
table = tables[0]
table.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [23]:
table.shape

(180, 3)

In [24]:
# Check "Not assigned" values in Borough and Neighborhood
table["Borough"].value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [25]:
table["Neighborhood"].value_counts()

Not assigned                                                         77
Downsview                                                             4
Don Mills                                                             2
The Annex, North Midtown, Yorkville                                   1
Runnymede, Swansea                                                    1
                                                                     ..
Willowdale, Willowdale East                                           1
Alderwood, Long Branch                                                1
Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park     1
Del Ray, Mount Dennis, Keelsdale and Silverthorn                      1
Bedford Park, Lawrence Manor East                                     1
Name: Neighborhood, Length: 100, dtype: int64

In [26]:
# Replace "Not assigned with NaN"
table["Borough"].replace("Not assigned", np.nan, inplace=True)
table.head()

  Postal Code           Borough               Neighborhood
0         M1A               NaN               Not assigned
1         M2A               NaN               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [27]:
# Drop NaN Borough
table.dropna(axis=0, inplace=True)
table.head(5)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [28]:
# Reset index
table = table.reset_index()
table.head(5)

,index,Postal Code,Borough,Neighborhood
0,2,M3A,North York,Parkwoods
1,3,M4A,North York,Victoria Village
2,4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,5,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

In [29]:
# Drop index column
table = table.drop(["index"], axis=1)

In [37]:
# Group Neighborhoods with the same Postcode
table = table.groupby(['Postal Code', 'Borough'])['Neighborhood'].apply(lambda x: "%s" % ', '.join(x))
table = table.reset_index()
table.head()

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

### Get shape of the table

In [44]:
table.shape

(103, 3)